:root {
  /*Background color  */
  --background-color: #96b011;
  --background-color-btn: B09067;
  --background-color-hover: turquoise;
  --background : white;
  
  
  /* Colors */
    --gray: #ddd;
    --color-white: white;
    --color-2 : #666;

  /* Button  color */
   --color-btn : #E9967A;
  --color-btn-red : red;

  /* Text-color */
   --text-color: #666;

  /* Font-family */
  --font-family: "Amaranth", sans-serif;

  --font-size : 16px;
 
}
